/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* layout */
:root {
  --error: #dd1353;
  --core: rgb(174,71,135);
  color: white;
}
body {
  background: rgb(53,44,99);
  margin: 0;
  font-family: 'Lato', sans-serif;
}
header {
  background: rgb(94,77,178);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: var(--core);
  border-radius: 40px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: -8px 10px 5px rgba(0, 0, 0, 0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: white;
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: white;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: rgb(53,44,99);
  padding: 6px;
  border-radius: 50%;
  color: white;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 3px solid;
  border-radius: 10px;
  box-sizing: border-box;
  border-color: rgb(143,126,231);
}
form button {
  background: var(--core);
  border: 0;
  color: white;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  border-radius: 10px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #5c5c5c;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}